 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins";

 }
 .bg_home video {
    margin-top: 0px;
     height: 100vh;
     width: 100vw;
     object-fit: fill;
     position: fixed;
 }
 @media screen and (max-width: 1100px) {
     .bg_home video{

 margin-top: 0px;
     }}

 .header_pic {
     display: flex;
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     color: #00000000;
     margin-bottom: 10px;
     background-color: #f2f3f3a8;
     background: linear-gradient(90deg, rgba(42, 123, 155, 0.507) 0%, rgba(242, 242, 240, 0.815) 0%, rgba(68, 168, 179, 0.493) 100%, rgb(240, 235, 191) 100%, rgba(11, 99, 114, 0.637) 100%);
     ;
 }

 .nav_pic {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 100px;
     background: transparent;
     /* position: fixed; */
     width: 100%;
     top: 0;
     left: 50px;
     box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
     z-index: 100;
 }


 .backbtn_pic {
     margin-top: 0px;
     margin-left: -100px;
     width: 100px;
     height: 40px;
     border-radius: 40px;
     background: #090979;
     background: linear-gradient(90deg, rgba(9, 9, 121, 1) 10%, rgba(96, 152, 163, 0.548) 89%);
     color: #fff;
     font-size: 20px;
     font-weight: 400;
     cursor: pointer;
     outline: none;
     border: none;
 }
   .backbtn_pic:hover {
background: #EEAECA;
background: linear-gradient(65deg, rgb(255, 3, 112) 0%, rgb(111, 178, 255) 100%);

 }