 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins";
 }

 .bg_login video {
     height: 100vh;
     width: 180vw;
     object-fit:fill;
     position: fixed;
     z-index: -1;
 }

 .bg_login {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     height: 100%;
     width: 100%;
 }

 .container_login {
     width: 30vw;
     height: 50vh;
     padding: 40px;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 900;
     box-shadow: 0px 5px 20px rgba(0, 119, 255, 0.6);
     margin-top: 50px;
 }
 @media screen and (max-width: 1100px) {
      .container_login {
     width: 90vw;
     height: 50vh;
     padding: 10px;

     }

 }

 .container_login:hover {
     box-shadow: -3px -3px 50px rgb(0, 225, 255);
     transition: 0.3s;
 }

 #regi-link_login {
     text-align: center;
     margin-top: 3px;
     font-size: 25px;
     font-display: bold;
     font-style: inherit;
     color: blue;
 }
 .input-box_login {
    display: flex;
    color-scheme: dark;
    letter-spacing: 1px;
    font-size: 20px;
     width: 100%;
     margin-top: 5%;
     position:relative;

 }

 .btn_login {
     width: 100%;
     height: 40px;
     background: #025757;
     border-radius: 40px;
     color: #fff;
     font-size:30px;
     font-weight: 400;
     cursor: pointer;
     outline: none;
     border: none;
 }
 .btn_login1 {
     width: 100%;
     height: 40px;
     background: #0bff03;
     border-radius: 40px;
     color: #fff;
     font-size:30px;
     font-weight: 400;
     cursor: pointer;
     outline: none;
     border: none;
 }
 .btn_login:hover {
     background: #1900ff;
 }
 .btn_login1:hover {
     background: #1900ff;
 }
 .advice {
    word-spacing: 1px;
     font-size: 20px;
     font-weight: 550;
     color: black;
 }

 .input_login {
    color: rgb(0, 0, 0);
     width: 60%;
     height: 30px;
     background: transparent;
     border-radius: 40px;
     border-color: #03e9fa;
     padding: 1px;
     font-size: 20px;
     font-weight: 200;
     letter-spacing: px;
 }
 .input:focus {
     border: 2px solid #00c3ff;
     transition: 0.0s;

 }

 .input_login:hover {
     border: 2px solid #0a4ad6;
     transition: 0.0s;
 }

 .header_login {
     display: flex;
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     color: #eeebeb00;
     margin-bottom: 10px;
background-color: #ffffffa8;
     background: linear-gradient(90deg, rgb(6, 247, 86) 0%, rgba(242, 242, 240, 0.082) 0%, rgba(68, 168, 179, 0.39) 100%, rgba(240, 235, 191, 0.781) 100%, rgb(11, 99, 114) 100%);
     ;
 }

 .nav_login {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 100px;
     background: transparent;
     /* position: fixed; */
     width: 100%;
     top: 0;
     left: 50px;
     box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
     z-index: 100;
 }

 .backbtn_login {
     margin-top: 0px;
     margin-left: -100px;
     width: 100px;
     height: 40px;
     border-radius: 40px;
     background: #090979;
     background: linear-gradient(90deg, rgba(9, 9, 121, 1) 10%, rgba(96, 152, 163, 0.548) 89%);
     color: #fff;
     font-size: 20px;
     font-weight: 400;
     cursor: pointer;
     outline: none;
     border: none;
 }
  .backbtn_login:hover {
background: #EEAECA;
background: linear-gradient(65deg, rgb(255, 3, 112) 0%, rgb(111, 178, 255) 100%);

 }